@font-face {
    font-family: ubuntuFont;
    src: url('UbuntuMono-Regular.ttf');
    font-display: swap;
}

:root {
    --link: #E7AB79;
    --highlight: #B25068;
    --grey: #774360;
    --black: #4C3A51;
    --blackest: #1B2430;
}

body {
    background: var(--blackest);
    font-family: ubuntuFont, 'serif';
    color: var(--highlight);
    padding: 50px;
    display: flex;
    flex-direction: column;

    gap: 20px;
}

h1 {
    color: var(--link);
}

h3 {
    color: var(--grey);
}

h1 {
    border-bottom: 2px dashed;
    padding-bottom: 3px;
    width: fit-content;
}

.experience{
    border: 2px dashed var(--link);
    color: var(--link);
    width: 70vw;
    display: flex;
    height: 100%;
    align-items: center;

    align-self: center;
}

.PersonalData {
    display: flex;
    flex-wrap: wrap;
    
    gap: 20px;
}

.PersonalData img {
    width: 300px;
    max-width: 70vw;
}

.jobExperience {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0px;
}

.jobExperience img {
    width: 200px;
    max-width: 70vw;
    height: auto;
    object-fit: contain;
}

.jobExperience div {
    max-width: 70vw;
    height: auto;
    object-fit: contain;
}